@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:before, *:after {
  box-sizing: border-box;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.nav-container{
  padding: 0rem 5rem;
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}



.underline-effect {
  @apply relative p-0;
}

.underline-effect::after {
  @apply content-[''] absolute w-full h-0.5 left-0 bottom-[-4px] bg-ppink origin-bottom-right hover:origin-bottom-left scale-x-0 hover:scale-x-100 transition-transform duration-300;
}

.heading-text {
  @apply bg-gradient-to-br from-[#FFFFFF] to-[#AAAAAA] bg-clip-text p-4 text-6xl font-extrabold text-transparent;
}

